<h1>Basic Fantasy RPG Character Generator</h1>
<div><input value="Generate a new character" type="button" (click)="genNewCharacter()"></div>
<div>
  <div><b>Name:</b><input type="text" id="name" [(ngModel)]="name"><input type="checkbox" name="useRandomName"
      [(ngModel)]="genRandomName"><label for="useRandomName">use random name</label></div>
  <div><b>Race:</b>{{character.race.name}} </div>
  <div><b>Class:</b>{{character.characterClass.name}}</div>
  <div><b>HP:</b>{{character.hp}}</div>
  <div><b>Gold:</b> {{character.gold}} GP </div>
  <h3>Abilites</h3>
  <div *ngFor="let ability of character.abilities | keyvalue"><b>{{ability.key}}:</b> {{ability.value.score}} <span
      *ngIf="ability.value.mod > 0">+</span>{{ability.value.mod}}</div>
  <h3>Saving Throws</h3>
  <div *ngFor="let save of character.savingThrows | keyvalue"><b>{{save.key}}</b>: {{save.value}}</div>
  <div *ngIf="character.characterClass.classAbilities">
    <h3>Class Abilities</h3>
  </div>
  <div *ngFor="let ability of character.characterClass.classAbilities | keyvalue"><b>{{ability.key}}</b>
    {{ability.value}}</div>
  <div *ngIf="character.characterClass.spells">
    <h3>Spells</h3>
  </div>
  <div *ngFor="let spell of character.characterClass.spells"><b>{{spell}}</b></div>
  <h3>Notes</h3>
  <div *ngFor="let note of character.race.specialAbilities">{{note}}</div>
  <div *ngFor="let restriction of character.race.weaponRestrictions">{{restriction}}</div>
  <div *ngFor="let restriction of character.characterClass.weaponRestrictions">{{restriction}}</div>
</div>