@import url(styles.css);

@media print {

    input {
        border: none;
    }

    select {
        appearance: none;
        border: none;
    }

    .content-sheet {
        background-color: white;
        box-shadow: none;
        display: inline
    }

    .noprint {
        display: none;
    }


    label .spell-box {
        display: none;
    }

    label .spell-span {
        display: none;
    }

    input[type="checkbox"] ~ .spell-level {
        display: none;
    }

    label .spell-level {
        display: none;
    }

    label .spell-box:checked + span {
        display: inline;
    }
}