/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Soutane";
    src: url(assets/fonts/Soutane/Soutane-Regular_41720.ttf) format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    font: 100% soutane, calibri, helvetica, sans-serif;
    background-color: #252525;
}

.content-sheet {
    width: fit-content;
    margin: auto;
    line-height: 120%;
    margin-top: 2%;
    padding: 2%;
    padding-top: 1%;
    background-color: ghostwhite;
    box-shadow: 8px 8px 16px 4px rgba(0, 0, 0, 0.3);
}


input,
button,
select,
textarea,
optgroup,
option,
table,
tr,
td,
img,
form,
fieldset {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: .1%;
    padding: .2%;
}

#nameSelect {
    width: 35%;
    overflow: visible;
}

.container {
    width: 100%;
}

.child {
    width: 50%;
    float: left;
    vertical-align: top;
}

#saving-throws {
    margin-right: 10%;
}

table,
th,
td {
    border: 1px solid;
}


select {
    background-color: inherit;
}

#optionals {
    padding-top: 27%;
}

#reroll-button {
    border: none;
    color: whitesmoke;
    background-color: #252525;
    padding: 12%;
    cursor: pointer;
    height: auto;
    border-radius: 0%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

#dl-button {
    border: none;
    color: whitesmoke;
    background-color: #252525;
    padding: 13%;
    cursor: pointer;
    height: auto;
    border-radius: 0%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}